# JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/
/out/

# File-based project format
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
